@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:900");

@font-face {
  font-family: 'GT America';
  src: url('fonts/GT America Regular.ttf');
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('fonts/GraphikRegular.otf');
}
a {
  color: inherit;
}
h1 {
	text-transform: uppercase;
	font-family: 'Unbounded';
	font-palette: normal;
	font-optical-sizing: revert;
	font-weight: 400;
}
p {}

.menu {
  /*-webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
  */
}
.menu-item, .menu-open-button {
  /* background: radial-gradient( #FFCBA4, #cf523c, #fcbeb3, #F2B5AB); */
  /* background-size: 400% 400%; */
  /* -webkit-animation: gradient 5s ease infinite; */
  /* animation: gradient 30s ease infinite; */
  /* height: 100vh; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* border-radius: 100%; */
  width: 80px;
  height: 40px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: #90ee9000;
  text-align: center;
  line-height: 80px
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
.menu-open {
  display: none;
}
.hamburger {
  width: 25px;
  height: 3px;
  background: radial-gradient( #cf8f29, #f98e7f, #F2B5AB, #EB515E);
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
  animation: gradient 30s ease infinite;
  -webkit-background-clip: content-box;
  -webkit-text-fill-color: transparent;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  border-radius: 5px;
}
.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}
.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu {
  position: absolute;
  right: 12px;
  padding-left: 30px;
  width: 88px;
  font-weight: 500;
  height: 51px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Unbounded';
  text-align: left;
  z-index: 10;
}
.menu-item:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  /* color: #000; */
  background: radial-gradient( #FFCBA4, #ef988c, #F2B5AB, #EB515E, #402f20);
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
  animation: gradient 30s ease infinite;
  /* height: 100vh; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration:none;
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 170ms;
  transition-duration: 170ms;
  -webkit-transform: translate3d(0, 60px, 0);
  transform: translate3d(0, 61px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transform: translate3d(0, 110px, 0);
  transform: translate3d(0, 110px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 330ms;
          transition-duration: 330ms;
  -webkit-transform: translate3d(0, 160px, 0);
          transform: translate3d(0, 160px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 410ms;
          transition-duration: 410ms;
  -webkit-transform: translate3d(0, 210px, 0);
          transform: translate3d(0, 210px, 0);
}
.nav {
	/* margin: 0; */
	/* position: fixed; */
	display: block;
	/* height: 40px; */
	z-index: 9;
	/* padding: 0; */
}
body {
	margin: 0;
	overflow-x: hidden;
	z-index: 100;
	MAX-WIDTH: 100VW;
}
div {
	display: flex;
	flex-direction: column;
}
div .sec {
	display: flex;
	flex-direction: column;
	position: relative;
}
.sec {
	/* margin: -34px 0px -8px 0; */
	display: flex;
	position: relative;
	z-index: 2;
}
.svgContainer {
	display: none;
	/* width: 5%; */
	/* margin-top: -7px; */
	z-index: 9;
}

#sec1 {
	/* width: 100vw; */
	flex-direction: column;
	margin: 0;
	/* background-color: #99ee9999;;/* background-position: top 289px left 0px,bottom; */
	/* background-color: #99ee9999;;/* background-size: cover; */
	background: url(./waves.svg)bottom 0px left,  url(./imgs/sec*1.png) top right 3vw,  linear-gradient(#D4F1F4 29%, #baf5f7 100%),  url(./imgs/papyrus.png);
	background-repeat: no-repeat;
	background-size: cover, calc(0.1vw + 1vh + 90vmin + 40px) ,cover,cover;
}
#sec1Container {
	flex-direction: row;
	height: 90vh;
	/* height: calc(0.1 * 100vh + 450px); */
	z-index: 9;
	flex-wrap: unset;
	/* background-position: top 289px left 0px,bottom; */
	/* background-size: cover; */
	/* background-color: #99ee9999; */
	/* background-image: url(./wavy.svg), url(./imgs/papyrus.png); */
	/* background-repeat: no-repeat; */
}
#sec1HeaderContainer {
	height: 90vh;
	font-size: calc(2vw + 1vh + 4vmin);
	flex: 1 1 23%;
}
#sec1Header {
	margin-top: 0px;
	font-kerning: auto;
	/* font-family: 'Graphik' !important; */
	/* font-weight: 1000; */
	display: block;
	position: absolute;
	z-index: 6;
	padding-left: 16px;
	font-size: calc(4.9vw + 3vh + 7vmin);
	background: radial-gradient( #FFCBA4, #F1DCD9, #F2B5AB, #96452d, #402f20);
	background-size: 400% 400%;
	-webkit-animation: gradient 5s ease infinite;
	animation: gradient 30s ease infinite;
	height: 100vh;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#sec1img {
	height: calc(0.1vw + 25vh + 100vmin);
	object-fit: contain;
	display: none;
	flex-wrap: unset;
	align-items: center;
	justify-content: center;
	object-position: top;
	flex: 2 2 90vh;
	z-index: 5;
}
#sec2HeaderContainer {
	justify-content: center;
	align-items: center;
	font-size: calc(0.1vw + 1vh + 3vmin);
}
#sec2Header {
	/* font-family: "GT America"; */
	font-weight: 400;
	text-align: center;
}
#sec1ImgContainer {
	flex-wrap: unset;
	flex: 2 2 95%;
}

#sec1TextureContainer {
	height: 100vh;
	width: 100vw;
	z-index: 480;
}
#sec1Texture {
	width: 100vw;
	height: 100vh;
	z-index: 900;
}
#sec2{
	z-index: 11;
	flex-direction: column;
	background: url(./wavy*2.svg)top 330px left, url(./imgs/sec*2.png) top 75px center, linear-gradient(#d4ebff 29%, #BBE7FE 100%), url(./imgs/papyrus.png);
	background-repeat: no-repeat;
	background-size: cover,27vh,cover,cover;
	height: calc(0.1 * 100vh + 440px);
}
#sec2Container{
	width: 100%;
	height: 100%;
	/* background-color: #add8e6; */
}
#sec2Container1 {
	height: calc(0.1 * 100vh + 20px);
}
#sec2Container2 {
	flex-direction: row;
	height: calc(0.1 * 100vh + 450px);
	flex-wrap: wrap;
	/* padding: 0 10px; */
}
.sec2Para {
	flex: 1 3 49.1%;
	flex-basis: 285px;
	text-align: center;
	margin: 9.2px;
	padding: .1vw;
	font-family: 'Unbounded';
	font-weight: 100;
	font-size: calc(0.6vw + 2vmin);
	line-height: calc(0.5vw + 25px);
}
#sec2ImageContainer {
	/* display: none; */
	flex: 2 1 1%;
}
#sec2img {
	visibility: hidden;
	height: 90vh;
	object-fit: scale-down;
}
#sec6 {
	height: 100%;
	display: inline-block;
	z-index: 20;
	box-sizing: border-box;
	width: 100%;
}
#sec6Container {
	background: linear-gradient(#89D5FD 17%, #57C3FC 100%);
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #fff;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	justify-content: center;
}
.carousel {
  z-index: 1000;
  height: 450px;
  width: 80vw;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 8px 53px -14px black;
  position: relative;
  padding: 0;
  list-style: none;
  border-radius: 40px;
  margin: 30px 30px 120px 30px;
}
.carousel__controls,
.carousel__activator {
  display: none;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  transition: display 4s, opacity 4s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  transition: display 4s, opacity 4s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  transition: display 4s, opacity 4s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
  transition: display 4s, opacity 4s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
  transition: display 4s, opacity 4s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
  opacity: 1;
}
.carousel__control {
  height: 30px;
  width: 30px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #fafafa;
  opacity: 0.35;
  outline: 0;
  z-index: 3;
}
.carousel__control:hover {
  opacity: 1;
}
.carousel__control--backward {
  left: 10px;
  transform: rotate(-135deg);
}
.carousel__control--forward {
  right: 10px;
  transform: rotate(45deg);
}
.carousel__indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  display: inherit;
  box-sizing: border-box;
}
.carousel__indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px;
}
.carousel__indicator:hover {
  opacity: 0.75;
}
.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
}
.carousel-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #fff;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 100%;
  z-index: 1000;
  justify-content: center;
  position: relative;
  align-items: center;
  align-content: center;
}
.carousel__slide {
  overflow: hidden;
}
.carousel__indicator {
  height: 15px;
  width: 15px;
}
.carousel-container h1 {
  font-size: 50px;
  line-height: 50px;
  color: #fafafa;
  /* position: absolute; */
  /* top: 50%; */
  width: 100%;
  text-align: center;
  /* margin-top: -25px; */
}
.carousel-container h2,h3 {
  font-family: 'Unbounded';
  color: #fafafa;
  color: hwb(0deg 100% 0%);
  opacity: 0;
  z-index: 160;
  height: 0;
  font-family: 'Unbounded';
  font-weight: 300;
  font-size: calc(13px + 0.3vw);
}
.carousel-container h3 {
  font-size: 50px;
}
.carousel__indicator {
  background-color: #fafafa;
}
.carousel__slide:nth-of-type(1) {
  background-image: url("./imgs/studio1.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(2) {
  background-image: url("./imgs/studio2.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(3) {
  background-image: url("./imgs/studio3.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(4) {
  background-image: url("./imgs/studio4.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(5) {
  background-image: url("./imgs/studio5.jpg");
  background-size: cover;
  background-position: center;
}
#sec7 {
    z-index: 30;
    background-color: #FDEB89;
    background: linear-gradient(#FDEB89 17%, #edd863 100%);
}
#sec7Container {
	height: 100%;
	text-align: center;
}
#sec7 h1 {
  font-size: 50px;
}
#imgGridContainer {
	padding: 0px 0 70px 0;
	height: 100%;
}
#imgGrid {
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	justify-content: center;
}
#imgGrid div {
	/* flex: 0 0 100px; */
	display: flex;
	position: relative;
	width: 32vw;
	height: 27vw;
	margin: 0vw;
	object-fit: cover;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}
/* .sec7img:hover{
  content: "";
  scale: 1.63;
  transition: scale 1.2s;
  animation-delay: initial !important;
  animation: transformEnd 1.1s cubic-bezier(0.27, 0.37, 0.63, 0.56) 1 forwards alternate;
} */
.sec7img {
  box-shadow: 0px 0px 8px -1px;
  border-radius: 30% 50% 40% 50%;
  width: 20vw;
  height: 20vw;
  scale: 1;
  position: absolute;
  object-fit: cover;
  z-index: 160;
  transition: all 2s;
  overflow: hidden;
  animation: transform 25s cubic-bezier(0.48, 0.31, 0.88, 0.56) infinite both alternate;
}
#imgGrid h2:hover{
	font-size: calc(10.4px + 0.3vw * 1.63);
	scale: 1.63;
	transition: all 1.2s;
	opacity: 1;
} 
.sec7img:has( ~ h2:hover) {
	scale: 1.63;
	transition: all 1.2s;
	opacity: 1;
	animation-delay: initial !important;
  animation: transformEnd 1.1s cubic-bezier(0.27, 0.37, 0.63, 0.56) 1 forwards alternate;
}
.sec7img:hover, .sec7img:hover +h2{
  opacity: 1 !important;
  scale: 1.63;
  font-size: calc(10.4px + 0.3vw * 1.63);
  transition: all 1.2s;
animation-delay: initial !important;
  animation: transformEnd 1.1s cubic-bezier(0.27, 0.37, 0.63, 0.56) 1 forwards alternate;
}
.sec7img:hover ~ h3{
  opacity: 1;
  transition: opacity 2.2s;
}
#imgGrid h2:hover + h3 {
	opacity: 1;
  transition: opacity 2.2s;
}
#imgGrid h2 {
  color: hwb(0deg 100% 0%);
  opacity: 0.9;
  z-index: 460;
  font-family: 'Unbounded';
  font-weight: 300;
  font-size: calc(10px + 0.3vw);
  margin-top: 41%;
  height: 0;
}
#img1 img {
  object-position: top;
  animation-delay: -2s;
}
#img2 img {
	object-position: 0% 5%;
  animation-delay: -8s;
}
#img3 img {
	object-position: top;
	animation-delay: -13s;
}
#img4 img {
  object-position: top;
  animation-delay: -18s;
}
#img5 img {
	object-position: 0% 38%;
	animation-delay: -38s;
}
#img6 img {
	object-position: 0% 71%;
  animation-delay: -38s;
}
#img7 img {
	object-position: 0% 60%;
  animation-delay: -48s;
}
#img8 img {
	object-position: 0% 0%;
  animation-delay: -59s;
}

#sec3 {
	position: relative;
	color: white;
	background-color: black;
	flex-direction: column;
	z-index: inherit;
	background: url(./wavy*3.svg)top 437px left, url(./imgs/sec3.png) top -9px right -62px, linear-gradient(#05111c 26%, #02060a 100%), url(./imgs/papyrus.png);
	background-repeat: no-repeat;
	background-size: cover, 100vh ,cover,cover;
}
#sec3HalfContainter {
	flex-direction: row;
	width: 100%;
	z-index: 500;
	height: calc(0.1 * 100vh + 600px);
}
#sec3Half1 {
	width: 50%;
	flex-direction: column;
}
#sec3HeaderContainer {
	flex: 1 1 14%;
	font-family: 'GT America';
	padding-left: 10px;
}
#sec3Header {
    font-size: calc(0.1 * 30vw + 12px);
    font-weight: 400;
}
#sec3ParaContainer {
	flex: 1 1 50%;
	padding-left: 15px;
	z-index: 100;
	font-family: 'Unbounded';
	font-weight: 100;
	font-size: calc(0.6vw * 1.6 * 1.8 + 5px + 0.6vh);
}
#sec3Half2 {
	width: 48%;
	/* z-index: inherit; */
}
#sec3ImgConatiner {/* z-index: 3205; */}
#sec3img {
	visibility: hidden;
	height: 100vh;
	object-fit: cover;
	position: unset;
	object-position: top;
	z-index: 100;
}
#sec4 {
	flex-direction: column;
	/* background-color: #90ee90; */
	z-index: 36;
	background: url(./wavy*4.svg)top 330px left,url(./imgs/sec*4.png) top 5px left 0px, linear-gradient(#8390DC 17%, hwb(231 51% 30% / 1) 100%), url(./imgs/papyrus.png);
	background-repeat: no-repeat;
	background-size: cover, 57vh,cover,cover;
}
#sec4Container1 {
	height: 100%;
	z-index: 7;
	flex-direction: row;
	margin-top: 0px;
}
#sec4Container1:hover p {
  opacity: 1;
  transition: opacity 1s;
}
#sec4Container1:hover li:nth-child(1) p{
  transition-delay: 1s;
}
#sec4Container1:hover li:nth-child(2) p{
  transition-delay: 2s;
}
#sec4Container1:hover li:nth-child(3) p{
  transition-delay: 3s;
}
#sec4Container1:hover li:nth-child(4) p{
  transition-delay: 4s;
}
#sec4 p {
  color: #000;
  opacity: 1;
  transition: all 4s;
  top: 0px;
  z-index: 100;
  display: block;
  position: relative;
  font-family: 'Unbounded';
  text-transform: uppercase;
  font-size: calc(20px + 1.8vw);
  font-weight: 300;
  height: 30px;
  padding-left: 12px;
  margin-right: 0px;
  align-content: center;
  justify-content: center;
  line-height: 39px;
}
/* #sec4Para1::before {
  content: "Sed consequat nunc dictum, pellentesque nunc vitae";
  color: #000;
  opacity: initial !important;
  top: 0px;
  z-index: 100;
  display: block;
  position: absolute;
  font-family: 'Unbounded';
  text-transform: uppercase;
  font-size: 37px;
  font-weight: 300;
  height: 30px;
  padding-left: 0px;
  margin-right: 0px;
  align-content: center;
  justify-content: center;
  line-height: 39px;
  position: absolute;
}
#sec4Para2::before {
  content: "Lorem ipsum dolor sit amet, consectetur adipiscing";
    color: #000;
    opacity: 1;
    top: 0px;
    z-index: 100;
    display: block;
    position: absolute;
    font-family: 'Unbounded';
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 300;
    height: 30px;
    padding-left: 0px;
    margin-right: 0px;
    align-content: center;
    justify-content: center;
    line-height: 39px;
    position: absolute;
}
#sec4Para3::before {
  content: "Etiam in elit suscipit, pellentesque libero vel";
  color: #000;
  opacity: 0;
  transition: all 4s;
  top: 0px;
  z-index: 100;
  display: block;
  position: absolute;
  font-family: 'Unbounded';
  text-transform: uppercase;
  font-size: 37px;
  font-weight: 300;
  height: 30px;
  padding-left: 0px;
  margin-right: 0px;
  align-content: center;
  justify-content: center;
  line-height: 39px;
  position: absolute;
}
#sec4Para4::before {
  content: "Purus id ex consequat tempor";
  color: #000;
  opacity: 1;
  transition: all 4s;
  top: -20px;
  position: relative;
  font-family: 'Unbounded';
  text-transform: uppercase;
  font-size: 37px;
  font-weight: 300;
  height: 30px;
  padding-left: 12px;
  margin-right: 0px;
  align-content: center;
  justify-content: center;
  line-height: 39px;
  position: relative;
} */
#sec4ImgContainer {
	flex: 0 2 500px;
	display: none;
}
#sec4img {
	visibility: hidden;
	height: 120%;
	object-fit: cover;
	object-position: top;
	z-index: 2;
	padding-left: 20px;
}
#sec4Contianer2 {
	height: 45vh;
	flex-direction: row;
}
#sec4SubContainer1 {
	position: relative;
	height: 100%;
	justify-content: center;
	flex: 3 1 82%;
	padding-left: 0px;
}
#sec4SubContainer2 {
	width: 50%;
	height: 100%;
}
#sec4list li {
  /* list-style-image: url(./circleWavy.svg); */
  text-transform: uppercase;
  margin-bottom: 60px;
  overflow: hidden;
  font-weight: bold;
  height: 35vh;
  line-height: 23px;
  width: 89%;
  font-family: 'GT America';
  /* margin-right: 110px; */
  vertical-align: middle;
  padding-right: 116px;
  align-items: center;
  /* line-height: 56%; */
  justify-content: center;
}

/*li::marker {
  /* content: counter(list-item)"\a0\a0"; */
  /* content: url(./circleWavy.svg); */
  /* list-style-image: url(./circleWavy.svg); */
  /* font-size: calc(1.5vw + 1vh + 2vmin); */
/*}*/
#sec4list {
    /* list-style-image: url(./circleWavy.svg); */
    /* display: flex; */
    height: 100%;
    flex-direction: column;
    padding-left: calc(0.3vw * 8.2 * 4.2);
    /* justify-content: center; */
    /* columns: 2; */
    list-style: none;
}

#sec5 {/* background-color: #ADD8E5; */z-index: 44;background: linear-gradient(#220d46 26%, #1c0b21 100%), url(./imgs/papyrus.png);background-repeat: no-repeat;background-size: cover;}
#sec5Container {
	height: calc(0.1 * 100vh + 500px);
	justify-content: center;
	z-index: 454;
}
#sec5Header {
    text-align: center;
    font-family: 'UNBOUNDED';
    color: #ffffff;
    font-weight: 400;
}
.contactForm {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.contactForm form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.formInputContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	position: relative;
}
.inputName0 label,.inputName1 label,.inputName2 label{
	display: flex;
	width: 100%;
	margin: 0.2% 6% 0% 6%;
	float: left;
	font-weight: 500;
	font-size: 12px;
	line-height: 130%;
	font-family: 'Unbounded';
	color: #ffffff;
}
.inputName0 {
	display: flex;
	flex-direction: column;
}
.inputName1 {
	display: flex;
	flex-direction: column;
}
.inputName2 {
	display: flex;
	flex-direction: column;
	margin-right: 10%;
}
form span {
	
	font-weight: 500;
	font-size: 12px;
	line-height: 130%;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.5;

}
.contactForm input {
	display: flex;
	width: 100%;
	margin: 0.2% 0% 6% 0%;
	float: left;
	height: 56px;
	border: none;
	border-radius: 5px;
}
#submitButton {
	width: 20%;
	/* background: #0D0D2D; */
	background: radial-gradient( #FFCBA4, #ffd6d0, #F2B5AB, #EB515E);
	background-size: 400% 400%;
	-webkit-animation: gradient 5s ease infinite;
	animation: gradient 30s ease infinite;
	-webkit-background-clip: content-box;
	/* -webkit-text-fill-color: transparent; */
	box-shadow: 10px 20px 40px rgba(13, 13, 45, 0.3);
	border-radius: 10px;
	height: 70px;
	color: #ffff;
	text-align: center;
	align-content: center;
	justify-content: center;
	cursor: pointer;
	font-family: 'Unbounded';
}
input[type=name] {
	font-family: futura;
	font-size: 25px;
}
input[type=email] {
	font-family: futura;
	font-size: 25px;
}
input[type=tel] {
	font-family: futura;
	font-size: 25px;
}

input[type=submit] {
	font-family: Futura md bt;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}
.waveContainer {
    position: absolute;
    z-index: 110;
    width: 100%;
    height: 20px;
    bottom: 0;
    justify-content: flex-end;
}
#waves {
  position:relative;
  width: 100%;
  height: 6vh;
  min-height: 40px;
  max-height:150px;
  /* fill: darkgoldenrod; */
}
.wavesLayers  > use {
  /* fill: #d4ebff; */
  animation: waves 55s cubic-bezier(.55,.5,.45,.5) infinite;
}
.wavesLayers > use:nth-child(1) {
  /* animation-delay: -2s; */
  animation-duration: 17s;
}
.wavesLayers > use:nth-child(2) {
  /* animation-delay: -3s; */
  animation-duration: 16s;
}
.wavesLayers > use:nth-child(3) {
  /* animation-delay: -4s; */
  animation-duration: 16s;
}
.wavesLayers > use:nth-child(4) {
  /* animation-delay: -5s; */
  animation-duration: 15s;
}
@keyframes waves {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
.blobContainer {
	min-height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
}
#sec3blobContainer {
	z-index: 1;
}
.shapeBlob {
	right: auto;
	border: solid #ED1250;
	height: 500px;
	width: 700px;
	border-radius: 30% 50% 20% 40%;
	opacity:.7;
	position: absolute;
	left: 35%;
	top: 50%;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movementTwo 60s ease-in-out infinite both;
}
.shapeBlobOne{
	border-color: #bb116e;
	height: 290px;
	width: 370px;
	z-index: 12;
	right: 50px;
	left: auto;
	top: -4px;
}

.shapeBlobTwo{
	border-color: #6b116e;
	height: 350px;
	left: -100px;
	width: 450px;
	top: -126px;
}
.shapeBlobThree{
	height: 420px;
	width: 420px;
	z-index: 12;
	left: 350px;
	top: 160px;
}
#blob4 {
	border-color: #f9476c;
	height: 370px;
	width: 280px;
	left: 340px;
	top: 235px;
}
#blob5 {
	border-color: #ff8f99;
	height: 200px;
	width: 200px;
	right: 131px;
	top: -25px;
	left: auto;
}
#blob6 {
	border-color: #bb5ae4;
	height: 300px;
	width: 530px;
	right: 147px;
	top: auto;
	bottom: -90px;
	left: 20px;
}
#blob7 {
	border-color: #ff8f99;
	height: 300px;
	width: 260px;
	right: 50px;
	top: -25px;
	left: auto;
}
#blob8 {
	border-color: #7b8791;
	height: 380px;
	width: 490px;
	right: 35vw;
	position: absolute;
	top: 26px;
	left: auto;
	z-index: 1;
}
#blob9 {
	animation-delay: -10s;
	border-color: #ff8f99;
	height: 370px;
	width: 320px;
	right: auto;
	top: 0px;
	left: -90px;
}
#blob10 {
	border-color: #b4f5bb;
	height: 240px;
	width: 230px;
	right: 131px;
	top: 45px;
	left: auto;
}
#blob11 {
	border-color: #E357FC;
	height: 140px;
	width: 180px;
	/* right: 133px; */
	top: 8px;
	left: -10px;
}
#blob12 {
	border-color: #FC9057;
	height: 300px;
	width: 280px;
	right: -167px;
	top: 155px;
	left: auto;
}
#blob13 {
	border-color: #70FC57;
	height: 290px;
	width: 310px;
	/* right: 131px; */
	top: 70%;
	left: 50px;
	/* bottom: 200px; */
}
#blob14 {
	border-color: #63ED93;
	height: 240px;
	width: 230px;
	right: 131px;
	top: 45px;
	left: auto;
}
#blob15 {
	border-color: #6378ED;
	height: 240px;
	width: 230px;
	/* right: 131px; */
	top: 45px;
	left: 9px;
}
#blob16 {
	border-color: #ED63BD;
	height: 340px;
	width: 430px;
	right: 30%;
	top: 450px;
	left: auto;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 50%;
	}
	75% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes transform
{
    0% {border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;} 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; }
	100% {border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% }
}
@keyframes transformEnd
{
    0% {border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;} 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; }
	100% {border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% }
}

@keyframes movementOne
{
    0%,
  100% { transform: none; }
   50% {transform: translate(50%, 20%) rotateY(10deg) scale(1.2);}
}

@keyframes movementTwo
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}
@keyframes circle
{
  0% {
  }
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
}
@-webkit-keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}

@-webkit-keyframes movementOne
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.2); }
}

@-webkit-keyframes movementTwo
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}
@media only screen and (max-width: 750px) {
 	#sec3ImgContainer, #sec2ImageContainer, #sec4ImgContainer{
 		display: none;
 	}
  #sec3 {
    background: url(./wavy*3.svg)top 437px left, url(./imgs/sec*3.png) top -9px right -62px, linear-gradient(#05111c 26%, #02060a 100%), url(./imgs/papyrus.png);
  }
}
